[Unit]
Description=Execute fstrim / on shutdown

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/true
ExecStop=/usr/sbin/fstrim -a

[Install]
WantedBy=multi-user.target
